# SQLAlchemy: SQL and ORM

We will follow a series of exercises to get familiar with SQL and ORM.

ORM can be an abstract concept, to help you compare, the exercises will be a combination of traditional queries and SQLAlchemy queries.

`SQLAlchemy` is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.

Installing The Package:

```pip install sqlalchemy```

## Setting up your notebook
To facilitate developing, you can run this notebook on a [Google Colab](https://colab.research.google.com/).

In [23]:
# Load the SQL magic extension
# https://github.com/ploomber/jupysql
# this extension allows us to connect to DBs and issue SQL commands
%pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (2.0.32)
Requirement already satisfied: sqlparse in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\ezgit\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
# To run SQL code in a Jupyter notebook cell, you can use the magic command %%sql

In [25]:
%%sql
SELECT sqlite_version();

Running query in 'sqlite:///MyDataBase.db'

+------------------+
| sqlite_version() |
+------------------+
|      3.45.1      |
+------------------+

After running the previous cell, we encounter the error `UsageError: No active connection.` This is due to the fact a connection with a database has not been established.

## Create a database with SQL Alchemy

The ***Declarative Mapping*** is the typical way that mappings are constructed in modern SQLAlchemy. Read more: [Declarative mapping and alternatives](https://docs.sqlalchemy.org/en/14/orm/mapping_styles.html#orm-declarative-mapping).

In [26]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# declarative base class
Base = declarative_base()

# an example mapping using the base
class User(Base):
    __tablename__ = 'user'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)

The `Engine` is the starting point for any SQLAlchemy application, it represents a Python object that can be used to interact directly with the database and can be passed to a Session object to work with the ORM,

The `create_engine()`  function produces an `Engine` object based on a URL.

In [27]:
engine = create_engine('sqlite:///MyDataBase.db')

*Note the use of `///` to indicate a relative file path.*

In [28]:
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

The typical form of a database URL is:
`dialect+driver://username:password@host:port/database`

In this case we are using [SQLite](https://www.sqlite.org/index.html) a database engine broadly used worldwide for desktop and mobile aplications and provides the advantage of containing the database into one file `DB.db`.

Among the supported databases on sql alchemy we can list:

- SQLite
- PosgreSQL
- MySQL
- Oracle
- Microsoft SQL Server

The `Table object` is a member of a larger collection known as `MetaData`. When using Declarative, this object is available using the `.metadata attribute` of our declarative base class.

The `MetaData` is a registry which includes the ability to emit a limited set of schema generation commands to the database. As our database does not actually have a users table present, we can use `MetaData` to issue CREATE TABLE statements to the database for all tables that don’t yet exist.

In [29]:

Base.metadata.create_all(engine)

Refresh local files of your working directory, now you should be able to see the file `MyDataBase.db`.

In [30]:
# Connecting to the database
%sql sqlite:///MyDataBase.db

In [31]:
%%sql
-- # In SQL the comments are declared with --
-- # Example: Query to select values on table "user" from MyDataBase.db
SELECT * FROM user;

Running query in 'sqlite:///MyDataBase.db'

+----+---------------+-----------------------+----------------+
| id |      name     |        fullname       |    nickname    |
+----+---------------+-----------------------+----------------+
| 1  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 2  |    Jennifer   |    Jennifer Aniston   |     Rachel     |
| 3  | Tyrannosaurus |   Tyrannosaurus Rex   |     T-Rex      |
| 4  |      Neil     |  Neil Patrick Harris  | Barney Stinson |
| 5  |     Aegon     |    Aegon Targaryen    |   John Snow    |
| 6  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 7  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 8  |     Adrien    |        Adrien P       |    Fancing     |
| 9  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 10 |     Arnold    | Arnold Schwarzenegger |   Terminator   |
+----+---------------+-----------------------+----------------+
Truncated to displaylimit of 10.

The table `user` declared previously on `class User(Base)` exist on the database but no data has been stored yet.

# Database sessions

A `DBSession()` instance establishes all conversations with the database during your session. 
- Any change made against the objects in the session won't be persisted into the database until you call: `session.commit()`. *(just like using Git...)*

- If you're not happy about the changes, you can revert all of them back to the last commit by calling `session.rollback()`.

In [32]:
# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()

## Insert information into table *ORM approach*

In [33]:
# Using `class User(Base)` to input new parameters into the table `user`
my_first_table = User(name="Arnold", fullname="Arnold Schwarzenegger", nickname="Terminator")

In [34]:

session.rollback()
session.add(my_first_table)
session.commit()

OperationalError: (sqlite3.OperationalError) database is locked
(Background on this error at: https://sqlalche.me/e/20/e3q8)

`my_first_table` is a Python object, what means we can interact with the table in the same way done with other functions:

In [35]:
print(my_first_table.id)
print(my_first_table.name)
print(my_first_table.fullname)
print(my_first_table.nickname)

786
Arnold
Arnold Schwarzenegger
Terminator

## Insert information to table *using Queries*

Instead of using `class User(Base)`, we will add the values to the table using directly SQL queries. This, with the purpose of ilustrate with a pragmatical example the working methods using ORM vs SQL queries.

In [ ]:
%%sql

-- # Insert values into the table `user`
INSERT INTO user(id, name, fullname, nickname)
    VALUES (2, 'Jennifer', 'Jennifer Aniston', 'Rachel'), 
    (3, 'Tyrannosaurus','Tyrannosaurus Rex', 'T-Rex'), 
    (4, 'Neil', 'Neil Patrick Harris', 'Barney Stinson'),
    (5, 'Aegon', 'Aegon Targaryen', 'John Snow');

Running query in 'sqlite:///MyDataBase.db'

RuntimeError: (sqlite3.IntegrityError) UNIQUE constraint failed: user.id
[SQL: INSERT INTO user(id, name, fullname, nickname)
    VALUES (2, 'Jennifer', 'Jennifer Aniston', 'Rachel'),
    (3, 'Tyrannosaurus','Tyrannosaurus Rex', 'T-Rex'),
    (4, 'Neil', 'Neil Patrick Harris', 'Barney Stinson'),
    (5, 'Aegon', 'Aegon Targaryen', 'John Snow');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
If you need help solving this issue, send us a message: https://ploomber.io/community

To check your information was inserted correctly you can open your database or use one of the many VSCode extentions to view SQLite databases (e.g. SQL Viewer).

## Exercises: 

1. Use the `class User` to insert 5 rows of data into the table `user`
2. Insert 5 additional rows but this time using queries

In [ ]:
# Your code: ORM Approach


session.rollback()
Users = [
    User(id=190, name="Ezgi", fullname="Ezgi Tandagan", nickname="personally I don't care"),
    User(id=263, name="Adrien", fullname="Adrien P", nickname="fencing"),
    User(id=147, name="Ben", fullname="Ben half turkish", nickname="lahmacun"),
]

# Loop through each user and add to the session
for user in Users:
    session.add(user)
    
session.close()
session.commit()

In [ ]:
%%sql

INSERT INTO user(id, name, fullname, nickname)

VALUES(124,"mustafa","mustafa gul","bilmiyom"),(785,"pelin","t","pelo")

--# Your code: Using SQL Queries

Running query in 'sqlite:///MyDataBase.db'

RuntimeError: (sqlite3.IntegrityError) UNIQUE constraint failed: user.id
[SQL: INSERT INTO user(id, name, fullname, nickname)

VALUES(124,"mustafa","mustafa gul","bilmiyom"),(785,"pelin","t","pelo")

]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
If you need help solving this issue, send us a message: https://ploomber.io/community

## Preview values in table

You can also preview the values in a particular table by using queries and the ORM approach.

### *Using queries:*

In [ ]:
%%sql

SELECT * FROM user;

Running query in 'sqlite:///MyDataBase.db'

+----+---------------+-----------------------+----------------+
| id |      name     |        fullname       |    nickname    |
+----+---------------+-----------------------+----------------+
| 1  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 2  |    Jennifer   |    Jennifer Aniston   |     Rachel     |
| 3  | Tyrannosaurus |   Tyrannosaurus Rex   |     T-Rex      |
| 4  |      Neil     |  Neil Patrick Harris  | Barney Stinson |
| 5  |     Aegon     |    Aegon Targaryen    |   John Snow    |
| 6  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 7  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 8  |     Adrien    |        Adrien P       |    Fancing     |
| 9  |     Arnold    | Arnold Schwarzenegger |   Terminator   |
| 10 |     Arnold    | Arnold Schwarzenegger |   Terminator   |
+----+---------------+-----------------------+----------------+
Truncated to displaylimit of 10.

### *ORM approach*:

The inspection module provides the `inspect()` function, which delivers runtime information about a wide variety of SQLAlchemy objects, both within the Core as well as the ORM.

The `inspect()` function is the entry point to SQLAlchemy’s public API for viewing the configuration and construction of in-memory objects. Read more: https://docs.sqlalchemy.org/en/20/core/inspection.html.

In [ ]:
from sqlalchemy import inspect
inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

['media', 'user']

In [ ]:
# Get values in table:

print("----> User by (name):")
query = session.query(User)
for _row in query.all():
    print(_row.id, _row.name, _row.fullname, _row.nickname)

----> User by (name):
1 Arnold Arnold Schwarzenegger Terminator
2 Jennifer Jennifer Aniston Rachel
3 Tyrannosaurus Tyrannosaurus Rex T-Rex
4 Neil Neil Patrick Harris Barney Stinson
5 Aegon Aegon Targaryen John Snow
6 Arnold Arnold Schwarzenegger Terminator
7 Arnold Arnold Schwarzenegger Terminator
8 Adrien Adrien P Fancing
9 Arnold Arnold Schwarzenegger Terminator
10 Arnold Arnold Schwarzenegger Terminator
18 Ezgi Ezgi Tandan perly I don't care
19 Ezgi Ezgi Tandagan personally I don't care
100 Ezi Ezgi Tandogan persy I don't care
108 Ben Ben half turkish lahmacun
124 mustafa mustafa gul bilmiyom
200 E Ezgidogan personally I n't care
203 Adrien Adrien P fancing
785 pelin t pelo

### Exercises: 

1. Modify the code of the previous cell to stored the printed values on:

    a. A pandas DataFrame
    
    b. A dictionary

In [ ]:
from sqlalchemy import text

result_set = session.execute(text("SELECT id, name, fullname, nickname FROM User"))

rows = result_set.fetchall()

df = pd.DataFrame.from_records(rows, columns=['id', 'name', 'fullname', 'nickname'])

NameError: name 'pd' is not defined

2. Insert new table using queries

In [ ]:
%%sql

CREATE TABLE media (
    id          INTEGER PRIMARY KEY NOT NULL,
    production  TEXT NOT NULL,
    year        NUMBER NOT NULL
    );

Running query in 'sqlite:///MyDataBase.db'

RuntimeError: (sqlite3.OperationalError) table media already exists
[SQL: CREATE TABLE media (
    id          INTEGER PRIMARY KEY NOT NULL,
    production  TEXT NOT NULL,
    year        NUMBER NOT NULL
    );]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql
--# Insert values on table `media`
INSERT INTO media(id, production, year)
    VALUES (1,'Terminator',1984), 
    (2,'Friends', 1994), 
    (3,'Toy Story', 1995), 
    (4,'How I met your mother', 2005),
    (5,'Game of thrones',2011);

Running query in 'sqlite:///MyDataBase.db'

RuntimeError: (sqlite3.IntegrityError) UNIQUE constraint failed: media.id
[SQL: INSERT INTO media(id, production, year)
    VALUES (1,'Terminator',1984),
    (2,'Friends', 1994),
    (3,'Toy Story', 1995),
    (4,'How I met your mother', 2005),
    (5,'Game of thrones',2011);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql

SELECT * FROM media;

Running query in 'sqlite:///MyDataBase.db'

+----+-----------------------+------+
| id |       production      | year |
+----+-----------------------+------+
| 1  |       Terminator      | 1984 |
| 2  |        Friends        | 1994 |
| 3  |       Toy Story       | 1995 |
| 4  | How I met your mother | 2005 |
| 5  |    Game of thrones    | 2011 |
+----+-----------------------+------+

3. Complete the values on the table `media` that corresponds to your previous inputs on the table `user`.

In [ ]:
# Awesome code

### Well done! Now you have more tools as part of your skillset!

You are also ready for this joke: *An SQL query walks into a bar and sees two tables. He walks up to them and says:*

<img src='https://cdn.dribbble.com/users/1463678/screenshots/3212815/tables-dribbble.png' width = 500px></img>

## Resources:
- [Introduction to Relational Databases in Python (DataCamp)](https://app.datacamp.com/learn/courses/introduction-to-relational-databases-in-python)
- [ORM For Python: SQLAlchemy 101](https://medium.com/@haataa/orm-for-python-sqlalchemy-101-with-code-example-60868e65b0c)
- [Read the docs](https://docs.sqlalchemy.org/en/14/orm/mapping_styles.html)
- [Tutorial FastAPI and working with databases](https://fastapi.tiangolo.com/tutorial/sql-databases/)
- [SQL query practice](https://www.sql-practice.com/)
- [SQL workshop](https://tdmdal.github.io/mma-sql/)